

<div>
    <p> Hi <%=link.user.name%></p>
    <br>
    <br>
    <!-- <p>To change your password click on this link <strong><%= link.token%></strong>   </p> -->
    <p>To change your password click on this link <strong>http://localhost:8000/users/confirmpassword</strong>   </p> 
    <br>
    <br>
    <P>Thanks!</P>


</div>