

<div>
    <p> Hi <%=comment.user.name%></p>
    <br>
    <br>
    <p>Your comment <strong><%= comment.content%></strong>  is just published on Codeail Application </p>
    <br>
    <br>
    <P>Thanks!</P>


</div>