


<html>
    <title>
        Forgot password
    </title>
    <body>
        
        <div>
            <p>
                Enter your mail address
            </p>
        </div>
        <form action="/users/checkmail" method="POST">
            <input type="email" name="email" id="email" placeholder="Enter Your Email address">
            <input type="submit" value="submit">
        </form>

    </body>
</html>